<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/defaultheader.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/jquery.wavify.js"></script>
    <script src='../js/create-account.js'></script>
    <script src='../js/wave.js'></script>
    <link rel="stylesheet" href="../../styles/create-account.css" type="text/css">
    <link rel="stylesheet" href="../../styles/wave.css" type="text/css">
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-5-widescreen">
              <form action="" class="box" id="create-account">
                <div class="field">
                  <label for="" class="label">User Name</label>
                  <div class="control has-icons-left">
                    <input
                      type="text"
                      placeholder="iamuser10"
                      class="input"
                      id='username'
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label for="" class="label">Password</label>
                  <div class="control has-icons-left">
                    <input
                      type="password"
                      placeholder="*******"
                      class="input"
                      id='password'
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>

                <div class="file">
                  <label for="" class="label">Profile Picture</label>
                  <label class="file-label">
                    <input class="file-input" type="file" name="profile-pic" id='profile-pic' accept="image/*" onchange="showPreviewImage(this)" value="" required/>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label"> Choose a file… </span>
                    </span>
                  </label>
                </div>
                <div class="field">
                  <img id="preview" src="" alt="image-preview-here" />
                </div>
                <div class="field">
                  <button class="button is-success">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <svg class = "wave1"><path id="wave1" d=""/></svg>
    <svg class = "wave2"><path id="wave2" d=""/></svg>
    <svg class = "wave3"><path id="wave3" d=""/></svg>
  </body>
</html>

