<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('partials/defaultheader.ejs') %>
    </head>
    <body class="has-background-dark">
        <section class="hero is-success is-halfheight">
            <div class="hero-body has-text-centered">
                <div style="width: 100%">
                    <p class="title is-1">
                        404
                    </p>
                    <p class="subtitle">
                        Page not found
                    </p>
                    <a href="/">Back home</a>
                </div>
            </div>
        </section>
    </body>
</html>