<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/defaultheader.ejs') %>
</head>
<body>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="../images/logo.png" width="100" height="100" alt="GameBlog"/>
            </a>
    
            <a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbarMenu" >
            <div class="navbar-start">
                <a class="navbar-item" href="/">Play Game</a>
                <a class="navbar-item" href="/blog">Visit Blog</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href='/home/login'>Sign in</a>
                        <a class="button is-warning" href='/home/signup'>Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <img src="../images/logo.png" alt="GameBlog" class="logo">

    <section class="description">
        <div class="title">About GameBlog</div>
        <div class="body">
          <p>GameBlog is a site that allows for users to play a game while also providing a place for discussion. Players can share their experiences with the game alongside interacting with it.</p>
        </div>
    </section>

</body>
</html>