<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/defaultheader.ejs') %>

<script src='../js/homepage.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
</head>
<body class="has-background-dark">
    <!-- Start Hero Carousel -->
    <section class="hero is-medium has-carousel">
        <div id="carousel-demo" class="hero-carousel">
            <div class="item-1 has-text-centered">
                <img src="../images/slide1.png" alt="GameBlog"></img>
            </div>
            <div class="item-2 has-text-centered">
                <img src="../images/slide2.png" alt="GameBlog"></img>
            </div>
            <div class="item-3 has-text-centered">
                <img src="../images/slide3.png" alt="GameBlog"></img>
            </div>
            <div class="item-4 has-text-centered">
                <img src="../images/slide4.png" alt="GameBlog"></img>
            </div>
            </div>
        </div>
        <div class="hero-head has-text-centered">
            <%- include('partials/navbar.ejs') %>
        </div>
        <div class="hero-body has-text-centered"><img src="../images/logo.png" alt="GameBlog"></img></div>
    </section>
    <!-- End Hero Carousel -->
    <script>
        bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1,
        loop: true,
        effect: "fade",
        autoplay: true,
        duration: 700,
        autoplaySpeed: 5000
    });

    $(window).resize(() => {
        $("#carousel-demo .slider-item").css("width", window.innerWidth);
        $("#carousel-demo .slider-container").css("height", "auto");
    });
    </script>

    <section class="description section block has-background-success">
        <div class="content is-large"><h2>About Game</h2></div>
        <div class="columns is-multiline">
            <div class="column is-one-third is-flex">
                <div class="content notification is-success is-light">
                    <h3 class="title">Three.js</h3>
                    <p>Made with <a href="https://threejs.org/" target="_blank">three.js</a>. Three.js is a JavaScript library used to create and display animated 3D graphics using WebGL.
                       The game uses a <a href="https://sketchfab.com/3d-models/red-tank-348e44deabc944ceb1d758ea7cbe26fd" target="_blank">3D tank model</a>
                       and <a href="https://3dtextures.me/" target="_blank">textures</a> to make the game. Two renderers, from Three.js, was used for the game. One for health bars and nametags (CSS3DRenderer) and the other to display 3D models (WebGLRenderer).</p>
                    <img src="../images/threejs.png" alt="">
                </div>
            </div>
            <div class="column is-one-third">
                <div class="content notification is-success is-light">
                    <h3 class="title">Socket.io</h3>
                    <p>Socket.io was used to make the game multiplayer and made it possible to interact with other users. You can open a new tab to have two players control by you.</p>
                    <img src="../images/chat.png" alt="">
                </div>
                <div class="content notification is-success is-light">
                    <h3 class="title">D3.js</h3>
                    <p>The game has a leaderboard to display the top 5 scores and uses D3.js to make the leaderboard.</p>
                    <img src="../images/leaderboard.png" alt="">
                </div>
            </div>
            <div class="column is-one-third">
                <div class="content notification is-success is-light">
                    <h3 class="title">Web Workers</h3>
                    <p>The game has its own simple particle system that uses web workers to process each particle.</p>
                    <img src="../images/particle.png" alt="">
                </div>
                <div class="content notification is-success is-light">
                    <h3 class="title">MongoDB</h3>
                    <p>When logging in, the web page uses MongoDB to take user info for the game via local storage. If not logged in, the game generates a random username</p> 
                    <img src="../images/name.png" alt="">
                </div>
            </div>
        </div>
        <div class="content is-large"><h2>About GameBlog</h2></div>
        <div class="body block">
          <p>GameBlog is a site that allows for users to play a game while also providing a place for discussion. Players can share their experiences with the game alongside interacting with it.</p>
        </div>
    </section>
</body>
</html>