* {
    outline: none;
}

html {
    overflow-y: auto;
}

body {
    background-color: grey;
    height: 100vh;
}

.logo {
    display: block;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    height: 90px;
}

.description > .title {
    font-size: 25px;
}

.description > .body {
    font-size: 16px;
}

.hidden{
    display: none;
}

#user-info-name{
    padding-right: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold; 
    margin-bottom: 0.5rem;
}

#user-info-image{
    padding-right: 20px;
    margin-bottom: 0.5rem;
}

.error{
    color: rgb(170, 54, 54);
}