.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    padding-top: 3.25rem;
}

.section {
    width: 100%;
}

.card {
    border: 3px solid transparent;
}