<div class="field">
    <label class="label has-text-white" for="title">Title</label>
    <input required type="text" name="title" id="title" class="input">
</div>
<div class="field">
    <label class="label has-text-white" for="description">Description</label>
    <textarea name="description" id="description" class="textarea" ></textarea>
</div>
<div class="field">
    <label class="label has-text-white" for="text">Text</label>
    <textarea name="text" id="text" class="textarea" ></textarea>
</div>

<div class="field is-grouped">
    <div class="control">
        <a href="/blog" class="button is-danger">Cancel</a>
    </div>
    <div class="control">
        <button type="submit" class="button is-success">Post</button>
    </div>
</div>

