<head>
    <%- include('../partials/defaultheader.ejs') %>
    <script src='../js/homepage.js'></script>
    <link rel="stylesheet" href="../styles/blog.css" type="text/css">
</head>
<body class="has-background-dark">
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <section class="section">
            <h1 class="title has-text-white">Create new post</h1>
        </section>

        <form action="/blog/new" method="POST">
            <%- include('formfields') %>
        </form>
    </div>
</body>